/* Conteneur général pour la sidebar */
.sidebar-container {
  background-color: #1a1a1a; /* Noir sombre */
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
}

/* Sidebar proprement dite */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14%;
  top: 0%;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  width: 100%;
  text-align: left;
  padding: 10px 20px;
}

/* Liens de la sidebar */
.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Bangers", cursive; /* Police fun */
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Icône des liens */
.sidebar-icon {
  font-size: 24px; 
  margin-right: 10px; 
}
/* Texte des liens */
.sidebar-text {
  font-size: 18px;
}

.sidebar-link.active {
  background-color: #ff8300; 
}

/* Effet au survol des liens */
.sidebar-link:hover {
  background-color: #ff8300; /* Orange */
  color: #1a1a1a; /* Noir sombre */
}

/* Effet de barre orange pour l'option active */
.sidebar-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 5px; /* Largeur de la barre */
  background-color: #ff8300; /* Couleur orange */
}

/* Effet hover sur les autres liens */
.sidebar-link:hover {
  background-color: #333; /* Fond gris foncé */
  color: #fff; /* Texte blanc */
}

/* Transition pour une expérience plus fluide */
.sidebar-link:hover .sidebar-icon,
.sidebar-link:hover .sidebar-text {
  transform: scale(1.1); /* Zoom léger */
  transition: transform 0.3s;
}


