/* Conteneur général pour la sidebar */
.sidebar-container {
  width: 250px;
  background-color: #1a1a1a; /* Noir sombre */
  height: calc(100vh - 50px); 
  position: fixed;
  top: 50px; 
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Sidebar proprement dite */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}


.sidebar nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  width: 100%;
  text-align: left;
  padding: 10px 20px;
}

.sidebar-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-link:hover {
  background-color: #ff8300; /* Orange */
  color: #1a1a1a; /* Noir sombre */
  border-radius: 15px;
}

/* Contenu principal */
.main-content {
  margin-left: 250px; /* Décalage pour ne pas chevaucher la sidebar */
  padding: 20px;
}
